body {
    background-color: black;
}
.container_jumbo{
    width: 100%;
    height: 600px;
    margin-bottom: 20px;  
    background-image: url('https://www.ristorantedarosa.com/files/.thumbs/location/2000x/da-rosa-ristorante-como-veranda-sala-principale-3.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
}

.logo {
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 300px;
}

.container_main {
    margin: 0 auto;
}

